@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

:root {
    /* color palette */
    --color-black: #111111;
    --color-white: #ffffff;
    --color-purple: #B13BFF;
    --color-dark-gray: #a1a1a1;
    --color-light-gray: #848484;
    --color-creame: #FFFFE3;
    --color-pink: #EB3678;
    --color-green: #4E9F3D;
    --color-teal: #18F2D2;
    --color-orange: #FFD073;
    --color-red: #FF1700;
    --color-light-teal: #03C988;
    --color-maroon: #5F264A;
    --color-dark-cream: #B0A4A4;
    --color-dark-purple: #643A6B;
    --color-brown: #957777;

    --body-font: 18px;
    --body-line: 24px;
    --body-weight: 400;

    --title-font: 50px;
    --title-line: 56px;
    --title-weight: 400;
}

html {
    scroll-behavior: smooth;
}

* {
    transition: color 0.2s ease, background-color 0.2s ease;
}

body {
    background-color: var(--color-black);
    color: var(--color-white);

    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: var(--body-font);
    font-weight: var(--body-weight);
    line-height: var(--body-line);
    
    /* Optimize for smooth animations */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.title {
    font-size: var(--title-font);
    line-height: var(--title-line);
    font-weight: var(--title-weight);
}

.title-s {
    font-size: calc(var(--title-font)/2);
    line-height: calc(var(--title-line)/2);
    font-weight: var(--title-weight);
}