@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

:root {
    /* color palette */
    --color-black: #111111;
    --color-purple: #B13BFF;
    --color-dark-gray: #d9edfea2;
    --color-light-gray: #848484;
    --color-creame: #FFFFE3;
    --color-pink: #EB3678;
    --color-green: #4E9F3D;
    --color-teal: #18F2D2;
    --color-orange: #FFD073;
    --color-red: #FF1700;
    --color-light-teal: #03C988;
    --color-maroon: #5F264A;
    --color-dark-cream: #B0A4A4;
    --color-dark-purple: #643A6B;
    --color-brown: #957777;
}

body {
    background-color: var(--color-black);
    color: var(--color-creame);

    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h1 {
    font-size: 120px;
    line-height: 120px;
}